@model IEnumerable<Customer>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Customers";
}

<h1>Customers</h1>
<form asp-controller="Customer" asp-action="Search" method="post">
<p>Select Search Parameter</p>
    <div class="form-group">
        <input type="radio" name="type" value="CustomerId">Customer Identificator
        <input type="radio" name="type" value="Email">Email
    </div>
    <div>
        <span class="label">Search Text:</span>
    </div>
    <div>
        <input type="text" placeholder="Search">
    </div>

    <input type="submit" value="Search" class="btn btn-default" /> |
</form>
@if (Model.ToList().Count == 0)
{
    <p>
        Currently no records in the Database.
    </p>
}
else
{
<form asp-controller="Customer" asp-action="Index" method="get">
<table>
    <tr>
        <th>Customer ID</th>
        <th>Customer Name</th>
        <th>Email</th>
        <th>Mobile Number</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> |
            </td>
        </tr>
    }
</table>
        <div>
        <input asp-action="" asp-controller="" type="button" value="Export" /> 
    </div>
</form>
}
<script language="javascript">
</script>
