@model Transaction

@{
    Layout = "_Layout";
    ViewData["Title"] = "Transaction";
}

<h2>Details</h2>


<h4>Transaction</h4>
<hr />
<tr>
    <td>
        @Html.DisplayNameFor(model => model.TransactionId)
    </td>
    <td
        @Html.DisplayFor(model => model.Amount)
    </td>
    <td>
        @Html.DisplayFor(model => model.CurrencyCode)
    </td>
    <td>
        @Html.DisplayNameFor(model => model.TransactionDate)
    </td>
    <td>
        @Html.DisplayFor(model => model.Status)
    </td>
</tr>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TransactionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>