@page 
@model List<Transaction>
@{
    Layout = "_Layout";
}
 
<h2>Transactions</h2>

<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input id="search" type="text" name="SearchString" value="00001" />
            <input type="submit" value="Search" class="btn btn-default" /> |
        </p>
    </div>
</form>
@if (Model.Count == 0)
{
    <p>
        Currently no records in the Database.
    </p>
}
else
{
<table class="table" onload="LoadData();">
    <tr>
        <th>Transaction ID</th>
        <th>Amount</th>
        <th>Currency Code</th>
        <th>Transaction Date</th>
        <th>Status</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
    }
</table>
}
<script language="javascript">
        var searchString = document.getElementById("search");
</script>