@model IEnumerable<TechnicalAssessment.Models.ViewModels.TransactionViewModel>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Transactions";
}
 
<h2>Transactions</h2>

<form asp-controller="Upload" asp-action="Transaction" method="post">
    <fieldset>
        <legend style="padding-top: 10px; padding-bottom: 10px;">Upload CSV or XML Transaction data</legend>
        <div style="padding-top: 10px; padding-bottom: 10px;">
            <div>
                <label>Upload Data</label>
            </div>
        </div>
        <div class="buttons">
            <div class="upload-button">
                <div class="col-xs-12" style="padding-top: 10px; padding-bottom: 10px;">
                    <input name="file" type="file" />
                </div>
                <div class="col-xs-12" style="padding-top: 10px; padding-bottom: 10px;">
                    <input type="button" value="Create" />
                </div>
            </div>
        </div>
        <p id="error1" style="display:none; color:#FF0000;"> Invalid File Format! Image Format Must Be XML or CSV!</p>
        <p id="error2" style="display:none; color:#FF0000;">Maximum File Size Limit is 1MB.</p>
    </fieldset>
</form>

<form asp-controller="Transaction" asp-action="Search" method="post">
<p>Select Search Parameter</p>
    <input type="radio" name="type" value="TransactionId">Transaction Identificator
    <input type="radio" name="type" value="CurrencyCode">Currency Code
    <input type="radio" name="type" value="Status">Status
    <iframe name="search" style="height:100px;width:200px;"></iframe>
    <input type="submit" value="Search" class="btn btn-default" /> |
</form>
@if (Model.ToList().Count == 0)
{
    <p>
        Currently no records in the Database.
    </p>
}
else
{
<form asp-controller="Transactions" asp-action="Index" method="get">
<table>
    <tr>
        <th>Transaction ID</th>
        <th>Amount</th>
        <th>Currency Code</th>
        <th>Transaction Date</th>
        <th>Status</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TransactionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TransactionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TransactionId">Delete</a>
            </td>
        </tr>
    }
</table>
</form>
}
<script language="javascript">
</script>
