@model List<Currency>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Currencies";
}
 
<h2>Currency And Country Codes</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="CurrencyIndex" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name:
            <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" /> |
            <a asp-action="CurrencyIndex">Back to Full List</a>
        </p>
    </div>
</form>

@if (Model.ToList().Count == 0)
{
    <p>
        Currently no records in the Database.
    </p>
}
else
{
<form asp-controller="Currency" asp-action="CurrencyIndex" method="get">
<table class="table">
    <tr>
        <th>Currency ID</th>
        <th>
            <a asp-action="CurrencyIndex" asp-route-sortOrder="@ViewData["CountrySortParm"]">Country Code</a>
        </th>
        <th>
            <a asp-action="CurrencyIndex" asp-route-sortOrder="@ViewData["CurrencySortParm"]">Currency Code</a>
        </th>
        </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyCode)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.CurrencyId">Details</a>
            </td>
        </tr>
    }
</table>
</form>
}
<script language="javascript">

</script>
