@model Transaction
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete Transaction</h2>
<hr />
<h4>Confirm Deletion of Transaction Record.</h4>
<table class="table">
    <tr>
        <th>Transaction ID</th>
        <th>Amount</th>
        <th>Currency Code</th>
        <th>Transaction Date</th>
        <th>Status</th>
    </tr>
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.TransactionId)
        </td>
        <td>
            @Html.DisplayFor(model => model.Amount)
        </td>
        <td>
            @Html.DisplayFor(model => model.CurrencyCode)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.Status)
        </td>
    </tr>
</table>
<div> 
    <form asp-controller="Transaction" asp-action="TransactionDelete" ty>
        <div class="form-actions no-color">
            <input type="submit" value="Delete" asp-controller="Transaction" asp-action="TransactionDelete" asp-route-id="@Model.Id" /> |
            <a asp-controller="Transaction" asp-action="TransactionIndex">Back to List</a>
        </div>
    </form>
</div>
