@model Transaction

@{
    Layout = "_Layout";
    ViewData["Title"] = "Transaction";
}

<h2>Details</h2>

<h4>Transaction</h4>
<hr />
<table class="table">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.TransactionId)
        </td>
        <td>
            @Html.DisplayFor(model => model.Amount)
        </td>
        <td>
            @Html.DisplayFor(model => model.CurrencyCode)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.TransactionDate)
        </td>
        <td>
            @Html.DisplayFor(model => model.Status)
        </td>
    </tr>
    <div>
        <a asp-controller="Transaction" asp-action="TransactionEdit" asp-route-id="@Model.TransactionId">Edit</a> |
        <a asp-controller="Transaction" asp-action="TransactionIndex">Back to List</a>
    </div>
</table>