@model IEnumerable<Transaction>
@{
    Layout = "_Layout";
    ViewData["Title"] = "Transactions";
}

<div>
    <fieldset>
        <legend style="padding-top: 10px; padding-bottom: 10px;">Transactions</legend>
        <hr />
        <p>
            <a asp-controller="Transaction" asp-action="TransactionCreate">Create New Transaction</a>
        </p>
        <div style="padding-top: 10px; padding-bottom: 10px;">
            <div>
                <h5>Upload CSV or XML Transaction data</h5>
            </div>
        </div>
        <div>
        @using (Html.BeginForm("TransactionIndex", "Transaction", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div>
                <div class="col-xs-12" style="padding-top: 10px;">
                    <input id="input" name="file" type="file" onchange="checkfile(this)" />
                </div>
                <br />
                <div class="col-xs-12" style="padding-top: 5px;">
                    <button type="submit" id="btnsubmit" onclick="SubmitButtonOnclick()">Upload Data</button>
                </div>
            </div>
        }
        </div>
    </fieldset>
</div>
<hr />
<form asp-controller="Transaction" asp-action="TransactionSearch" method="post">
    <h5>Select Search Parameter</h5>
    <div style="align-content:center">
        
        <label for="Transaction Id" class="radio">
            <input type="radio" name="rdo" id="transactionId" class="hidden"/>
            <span class="label"></span>Transaction Id
        </label>
  
        <label for="Currency Code" class="radio">
            <input type="radio" name="rdo" id="currencyCode" class="hidden"/>
            <span class="label"></span>Currency Code
        </label>
  
        <label for="Status" class="radio">
            <input type="radio" name="rdo" id="status" class="hidden"/>
            <span class="label"></span>Status
        </label>
    </div>
    <div style="padding-top:5px;">
        <input style="width:300px; padding-right:20px;" type="text" class="rc" placeholder="Search">
        <input type="submit" value="Search" class="btn btn-default" />
    </div>
</form>
<br />
@if (Model.ToList().Count == 0)
{
    <p>
        Currently no records in the Database.
    </p>
}
else
{
<form asp-controller="Transaction" asp-action="TransactionIndex" method="get">
<table class="table">
    <tr>
        <th>Transaction ID</th>
        <th>Amount</th>
        <th>Currency Code</th>
        <th>Transaction Date</th>
        <th>Status</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TransactionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-controller="Transaction" asp-action="TransactionEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="Transaction" asp-action="TransactionDetails" asp-route-id="@item.TransactionId">Details</a> |
                <a asp-controller="Transaction" asp-action="TransactionDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
</table>
    <div class="col-md-offset-2 col-md-10">
        <input asp-action="" asp-controller="" type="button" value="Export" /> 
    </div>
</form>
}
<script type="text/javascript" language="javascript">
function checkfile(sender) {
    var validExts = new Array(".xml", ".csv");
    var fileExt = sender.value;
    fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
    if (validExts.indexOf(fileExt) < 0) {
        alert("Invalid file selected, valid files are of " +
            validExts.toString() + " types.");
        sender.replaceWith(input.val('').clone(true));
      return false;
    }
    else return true;
}
function SubmitButtonOnclick() {
    var file = document.getElementById("file").files[0];
    var formData = new FormData();
    formData.append('file', file);

    $.ajax({
        url: _url,
        type: '@Url.Action("UploadTransaction", "Upload")',
        data: formData,
        processData: false, 
        contentType: false,
        error: function () {
            alert("There was a problem processing the files");
        },
        success: function () {
            respnse.redirectUrl(redirectUrl);
        }
    });
}
</script>