@model TechnicalAssessment.Models.ViewModels.CustomerViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Customer";
}

<h2>Details</h2>

<h4>Customer</h4>
<hr />
<tr class="dl-horizontal">
    <td>
        @Html.DisplayNameFor(model => model.CustomerId)
    </td>
    <td>
        @Html.DisplayFor(model => model.CustomerName)
    </td>
    <td>
        @Html.DisplayFor(model => model.Email)
    </td>
    <td>
        @Html.DisplayNameFor(model => model.MobileNumber)
    </td>
</tr>
<div>
    <a asp-controller="Customer" asp-action="Edit" asp-route-id="@Model.CustomerId">Edit</a> |
    <a asp-controller="Customer" asp-action="Index">Back to List</a>
</div>